@charset "UTF-8";

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/Akrobat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat-Regular.woff2") format("woff2"), url("../fonts/Akrobat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header header header header header header header header header header header" "titel titel titel titel titel titel titel titel titel titel titel titel" "content content content content content content content content content content content content" "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.contacts {
  grid-area: header;
}

.titel {
  grid-area: titel;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body {
  color: #272b34;
  font-size: 18px;
  background-color: #E5E5E5;
  font-family: Akrobat;
  font-weight: normal;
}

.container {
  max-width: 1152px;
  min-width: 320px;
  margin: 0 auto;
}

.container__contactsheader {
  margin-bottom: 94px;
}

.contacts {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background-color: #E5E5E5;
  border-radius: 0 0 5px 5px;
  z-index: 20;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialnetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialnetwork a {
  margin-left: 36px;
}

.contacts__phone {
  padding-left: 42px;
}

.phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #272b34 !important;
  text-decoration: none;
  margin-top: 2px;
}

.phone a span {
  color: #272b34 !important;
  font-size: 24px;
}

.phone a img {
  margin-right: 8px;
}

.container__titel {
  margin-bottom: 94px;
  /*Slaider*/
}

.container__titel .titel__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0 16px 32px 16px;
}

.container__titel .titel__text h1 {
  text-transform: uppercase;
  margin: 0;
  font-family: Akrobat;
  font-weight: normal;
}

.container__titel .titel__text p {
  -webkit-font-feature-settings: 'salt';
          font-feature-settings: 'salt';
}

.container__titel .titel__text p span {
  font-weight: bold;
}

.container__titel .titel__slaider:hover .slick-arrow {
  visibility: visible;
}

.container__titel .titel__slaider {
  position: relative;
  /* Стрелка */
  /* Стрелка вправо */
  /* Элемент точки */
}

.container__titel .titel__slaider .slick-list {
  overflow: hidden;
  border-radius: 5px;
}

.container__titel .titel__slaider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__titel .titel__slaider .slaider__img {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.container__titel .titel__slaider .slaider__img img {
  max-width: 100%;
  background-color: red;
}

.container__titel .titel__slaider .slaider__img a {
  font-size: 36px;
  text-transform: uppercase;
  padding: 0px 12px;
  border-radius: 5px;
  color: #E5E5E5;
  background-color: #272b34;
  opacity: .7;
  position: absolute;
  bottom: 16px;
  left: 16px;
  text-decoration: none;
}

.container__titel .titel__slaider .slaider__img a:hover {
  background-color: #5eac19c7;
  opacity: 1;
}

.container__titel .titel__slaider .slick-arrow {
  position: absolute;
  top: 16px;
  z-index: 10;
  width: 62px;
  height: 62px;
  font-size: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  visibility: hidden;
}

.container__titel .titel__slaider .slick-prev {
  right: 106px;
  background: url(../img/icons/button_L.svg) 0 0/100% no-repeat;
}

.container__titel .titel__slaider .slick-prev:hover {
  background: url(../img/icons/button_L_Hover.svg) 0 0/100% no-repeat;
}

.container__titel .titel__slaider .slick-next {
  right: 16px;
  background: url(../img/icons/button_R.svg) 0 0/100% no-repeat;
}

.container__titel .titel__slaider .slick-next:hover {
  background: url(../img/icons/button_R_Hover.svg) 0 0/100% no-repeat;
  /* Стрелка не активная */
}

.container__titel .titel__slaider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 26px;
  bottom: 31px;
}

.container__titel .titel__slaider .slick-dots li {
  list-style: none;
  margin: 0 4px;
}

.container__titel .titel__slaider .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #E5E5E5;
}

.container__titel .titel__slaider .slick-dots .slick-active button {
  border: 3px solid #5DAC19;
}

.content {
  margin-left: 16px;
  margin-right: 16px;
}

.content .content__title {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content__title h2 {
  font-family: Akrobat;
  font-weight: normal;
  -webkit-font-feature-settings: 'salt';
          font-feature-settings: 'salt';
}

.content .content__title .content__button .content__buttonpopap {
  color: #5DAC19;
  border-radius: 5px;
  border: 2px solid;
  padding: 8px 26px;
  font-family: Akrobat;
  font-weight: bold;
  text-decoration: none;
}

.content .content__title .content__button a:hover {
  border-color: #5eac19c7;
}

.content .content__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__filter {
  margin-right: 32px;
  height: 100%;
}

.filter .filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter .filter__button input {
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 5px;
  border: 2px solid #272b34;
  padding: 3px 62px;
  color: #272b34;
  font-family: Akrobat;
  font-weight: normal;
}

.filter .filter__button input:hover {
  border-color: #5eac19c7;
}

.filter .filter__floors {
  margin-top: 32px;
}

.filter .filter__floorscheckbox {
  margin-bottom: 32px;
  margin-left: 42px;
}

.filter .filter__floorscheckbox input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter .filter__floorscheckbox input[type="checkbox"] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Akrobat;
  font-weight: normal;
}

.filter .filter__floorscheckbox input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid #272b34;
  border-radius: 5px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 75%;
}

.filter .filter__floorscheckbox input[type="checkbox"]:checked + label::before {
  border-color: #272b34;
  background-color: #5DAC19;
  background-image: url("../img/icons/checkmark.svg");
}

.filter .filter__floorscheckbox input[type="checkbox"] + label:hover::before {
  border-color: #5eac19c7;
}

.filter .filter__floorscheckbox input[type="checkbox"] + label:hover {
  cursor: pointer;
}

.filter .filter__floorstaitel {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  font-weight: normal;
}

.filter .filter__sqaretext {
  color: #272b34;
  font-family: Akrobat;
  font-weight: normal;
}

.filter .filter__squareinput {
  margin-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.filter .filter__squareinput input[type="number"] {
  margin-right: 8px;
  font-size: 18px;
  padding: 3px 10px;
  border-radius: 5px;
  border: 2px solid #272b34;
  color: #272b34;
  max-width: 125px;
}

.filter .filter__squareinput input[type="number"]:hover {
  border: 2px solid #5eac19c7;
}

.filter .filter__squaretitle {
  margin-bottom: 12px;
  font-family: Akrobat;
  font-weight: normal;
}

.filter_active {
  color: #ff0404;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_deactivated {
  display: none;
}

.content__card {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__cardsection {
  max-width: 47.5%;
  margin-bottom: 32px;
}

.content__cardsection:nth-child(odd) {
  margin-right: 32px;
}

.card__slider:hover .slick-arrow {
  visibility: visible;
}

.card__slider {
  min-width: 0;
  position: relative;
  margin-bottom: 12px;
}

.card__slider .slick-list {
  overflow: hidden;
  max-height: 250px;
  border-radius: 5px;
}

.card__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__slider .card__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__slider .slick-arrow {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  font-size: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  width: 46px;
  height: 46px;
  background-color: transparent;
  visibility: hidden;
}

.card__slider .slick-next {
  background: url(../img/icons/button_R.svg) 0 0/100% no-repeat;
}

.card__slider .slick-next:hover {
  background: url(../img/icons/button_R_Hover.svg) 0 0/100% no-repeat;
}

.card__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 8px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.card__slider .slick-dots li {
  padding: 4px;
}

.card__slider .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #E5E5E5;
}

.card__slider .slick-dots .slick-active button {
  border: 3px solid #5DAC19;
}

.card__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__data .card__params {
  margin-bottom: 12px;
}

.card__data .card__params a {
  color: #272b34;
  text-transform: uppercase;
  -webkit-text-decoration: non;
          text-decoration: non;
}

.card__data .card__params a:hover {
  color: #5eac19c7;
}

.card__data .card__params .card__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__data .card__params .card__square .card__squareicon {
  width: 32px;
  height: 32px;
  margin-right: 18px;
}

.card__data .card__praise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__data .card__praise .Card__sum p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4px;
}

.card__data .card__praise .Card__sum p span {
  margin-right: 12px;
}

.card__data .card__praise .Card__sum p span:last-child {
  margin-right: 0;
}

.footer {
  background-color: #272b34;
  padding: 8px 16px 0 16px;
  border-radius: 5px 5px 0 0;
}

.container__productheader {
  margin-bottom: 64px;
}

.productcontainer {
  margin-bottom: 64px;
}

.productcontainer .productcontainer__title {
  margin: 0px 16px 64px 16px;
}

.productcontainer .productcontainer__title h1 {
  text-transform: capitalize;
  margin: 0;
  font-weight: normal;
  margin-bottom: 8px;
}

.productcontainer .productcontainer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 0;
}

.productcontainer .productcontainer__card .card__slider {
  min-width: 0;
  margin-right: 16px;
  margin-bottom: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}

.productcontainer .productcontainer__card .card__slider .slick-list {
  min-height: 100%;
}

.productcontainer .productcontainer__card .card__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 3 100%;
          flex: 0 3 100%;
  margin-top: 32px;
}

.productcontainer .productcontainer__card .card__price h2 {
  font-weight: normal;
  text-transform: uppercase;
}

.productcontainer .productcontainer__card .card__price .card__priceblok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 48px;
}

.productcontainer .productcontainer__card .card__price .card__priceblok .card__sum {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productcontainer .productcontainer__card .card__price .card__priceblok .card__sum p {
  margin-right: 10%;
}

.productcontainer .productcontainer__card .card__price .card__priceblok a {
  color: #E5E5E5;
  background-color: #5DAC19;
  border: 2px solid #5DAC19;
  border-radius: 5px;
  padding: 9px 12px;
  text-decoration: none;
  display: inline-block;
}

.productcontainer .productcontainer__card .card__price .card__priceblok a:hover {
  color: #f1f1f1;
  border-color: #5eac19c7;
  background-color: #5eac19c7;
}

.productcontainer .productcontainer__card .card__specifications {
  -webkit-box-flex: 0;
      -ms-flex: 0 3 18%;
          flex: 0 3 18%;
  height: 500px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productcontainer .productcontainer__card .card__specifications .card__square,
.productcontainer .productcontainer__card .card__specifications .card__block1,
.productcontainer .productcontainer__card .card__specifications .card__block2,
.productcontainer .productcontainer__card .card__specifications .card__block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productcontainer .productcontainer__card .card__specifications .card__block1 svg,
.productcontainer .productcontainer__card .card__specifications .card__block2 svg,
.productcontainer .productcontainer__card .card__specifications .card__block3 svg {
  width: 48px;
  height: 48px;
}

.productcontainer .productcontainer__card .card__specifications .card__square svg {
  width: 64px;
  height: 64px;
}

.productcontainer .productcontainer__card .card__specifications .card__rooms p,
.productcontainer .productcontainer__card .card__specifications .card__kitchen p,
.productcontainer .productcontainer__card .card__specifications .card__bathroom p,
.productcontainer .productcontainer__card .card__specifications .Card__sauna p,
.productcontainer .productcontainer__card .card__specifications .card__attic p,
.productcontainer .productcontainer__card .card__specifications .card__balcony p {
  text-align: center;
}

.productcontainer__view {
  margin: 0px 16px 48px 16px;
}

.productcontainer__view button {
  font-family: Akrobat;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #272b34;
  border: 1px solid #f1f1f1;
  padding: 3px 22px;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 32px;
  margin-right: 24px;
}

.productcontainer__view button:hover {
  color: #5eac19c7;
}

.productcontainer__view .slick-disabled {
  color: #5DAC19;
  border-color: #5eac19c7;
  cursor: default;
}

.productcontainer__view .productcontainer__slider {
  min-width: 0;
  margin-bottom: 32px;
}

.productcontainer__view .productcontainer__slider .slick-list {
  overflow: hidden;
}

.productcontainer__view .productcontainer__slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.productcontainer__view .productcontainer__slider .slick-list .slick-track .productcontainer__floorplan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
}

.productcontainer__view .productcontainer__slider .slick-list .slick-track .productcontainer__floorplan .productcontainer__floorplanimg {
  background-color: #fff;
  width: 49%;
  overflow: hidden;
}

.productcontainer__view .productcontainer__slider .slick-list .slick-track .productcontainer__floorplan .productcontainer__floorplanimg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productcontainer__view .productcontainer__slider .slick-list .slick-track .productcontainer__facade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 0;
}

.productcontainer__view .productcontainer__slider .slick-list .slick-track .productcontainer__facade .productcontainer__facadeimg {
  width: 49%;
  overflow: hidden;
  margin-bottom: 16px;
}

.productcontainer__view .productcontainer__slider .slick-list .slick-track .productcontainer__facade .productcontainer__facadeimg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productcontainer__view .productcontainer__edit {
  color: #5DAC19;
  border: 2px solid #5DAC19;
  border-radius: 5px;
  padding: 9px 12px;
  margin-left: 50%;
  text-decoration: none;
  display: inline-block;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.productcontainer__view .productcontainer__edit:hover {
  color: #5eac19c7;
  border-color: #5eac19c7;
}

.equipment {
  margin: 0 16px;
}

.equipment h3 {
  font-weight: 300;
  margin-bottom: 32px;
  color: #272b34;
}

.equipment .equipment__slider .equipment__sliderbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.equipment .equipment__slider .equipment__sliderbutton button {
  font-family: Akrobat;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #272b34;
  margin-bottom: 24px;
}

.equipment .equipment__slider .equipment__sliderbutton button:nth-child(2) {
  margin-right: 324px;
}

.equipment .equipment__slider .equipment__blockslider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.equipment .equipment__slider .equipment__blockslider dl dt {
  font-family: Akrobat;
  margin-bottom: 8px;
}

.equipment .equipment__slider .equipment__blockslider dl dd {
  font-family: Akrobat;
  margin-left: 42px;
  margin-bottom: 8px;
}

.popap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 100;
  color: #E5E5E5;
  opacity: 0;
  visibility: hidden;
}

.popap .popap__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popap:target {
  opacity: 1;
  visibility: visible;
}

.popap:target .popap__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popap:target .popap__body .popap__content {
  background-color: #272b34;
  padding: 32px;
  border-radius: 5px;
  border: 2px solid;
  position: relative;
}

.popap:target .popap__body .popap__content input {
  color: #E5E5E5;
  background-color: #5DAC19;
  border-radius: 5px;
  border: 1px solid;
  padding: 8px 26px;
  width: 50%;
}

.popap:target .popap__body .popap__content .popap__close {
  position: absolute;
  right: 8px;
  top: 6px;
  font-size: 24px;
  color: #E5E5E5;
  -webkit-text-decoration: non;
          text-decoration: non;
  background-color: #272b34;
  border-color: #272b34;
  padding: 0;
  width: 24px;
  height: 24px;
  fill: #5DAC19;
  cursor: pointer;
}

.popap:target .popap__body .popap__content .popap__close:hover {
  fill: #f1f1f1;
}

.popap:target .popap__body .popap__content .popap__title {
  padding-bottom: 42px;
}

.popap:target .popap__body .popap__content .popap__title p {
  padding-left: 40px;
}

.popap:target .popap__body .popap__content .popap__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popap:target .popap__body .popap__content .popap__form input {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.popap:target .popap__body .popap__content .popap__form .popap__name,
.popap:target .popap__body .popap__content .popap__form .popap__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}

.popap:target .popap__body .popap__content .popap__form .popap__name label,
.popap:target .popap__body .popap__content .popap__form .popap__phone label {
  padding-right: 12px;
}

.popap:target .popap__body .popap__content .popap__form .popap__name input,
.popap:target .popap__body .popap__content .popap__form .popap__phone input {
  background-color: #E5E5E5;
  color: #272b34;
  border: 2px solid #5DAC19;
}

.popap:target .popap__body .popap__content .popap__form .popap__name input:hover,
.popap:target .popap__body .popap__content .popap__form .popap__phone input:hover {
  border: 2px solid #f1f1f1;
}

.popap:target .popap__body .popap__content .popap__form .popap__phone {
  padding-bottom: 42px;
}

.popap:target .popap__body .popap__content .popap__form .popap__phone label {
  padding-right: 12px;
}

.popap:target .popap__body .popap__content .popap__form .popap__phone input {
  background-color: #E5E5E5;
  color: #272b34;
  border: 2px solid #5DAC19;
}

.popap:target .popap__body .popap__content .popap__form .popap__phone input:hover {
  border: 2px solid #f1f1f1;
}

@media (min-width: 768px) {
  .container__titel .titel__text h1 {
    font-size: calc(36px + 60 * (100vw  / 1152));
  }

  .container__titel .titel__text p {
    font-size: calc(24px + 18 * (100vw  / 1152));
  }

  .content .content__title h2 {
    font-size: calc(32px + 16 * (100vw  / 1152));
  }

  .content .content__title .content__button .content__buttonpopap {
    font-size: calc(12px + 6 * (100vw  / 1152));
  }

  .filter .filter__button input {
    font-size: calc(12px + 6 * (100vw  / 1152));
  }

  .filter .filter__floorscheckbox p label {
    font-size: calc(14px + 8 * (100vw  / 1152));
  }

  .filter .filter__sqaretext {
    font-size: calc(14px + 4 * (100vw  / 1152));
  }

  .filter .filter__squaretitle {
    font-size: calc(18px + 4 * (100vw  / 1152));
  }

  .card__data .card__params a {
    font-size: calc(28px + 4 * (100vw  / 1152));
  }

  .card__data .card__params .card__square p {
    font-size: calc(18px + 4 * (100vw  / 1152));
  }

  .card__data .card__praise .Card__sum p {
    font-size: calc(18px + 4 * (100vw  / 1152));
  }

  .productcontainer .productcontainer__title h1 {
    font-size: calc(12px + 6 * (100vw  / 1152));
  }

  .productcontainer .productcontainer__card .card__price h2 {
    font-size: calc(24px + 8 * (100vw  / 1152));
  }

  .productcontainer .productcontainer__card .card__price .card__priceblok .card__sum p {
    font-size: calc(14px + 8 * (100vw  / 1152));
  }

  .productcontainer .productcontainer__card .card__price .card__priceblok a {
    font-size: calc(14px + 8 * (100vw  / 1152));
  }

  .productcontainer .productcontainer__card .card__specifications .card__square,
  .productcontainer .productcontainer__card .card__specifications .card__block1,
  .productcontainer .productcontainer__card .card__specifications .card__block2,
  .productcontainer .productcontainer__card .card__specifications .card__block3 {
    font-size: calc(10px + 4 * (100vw  / 1152));
  }

  .productcontainer .productcontainer__card .card__specifications .card__square {
    font-size: calc(18px + 14 * (100vw  / 1152));
  }

  .productcontainer__view button {
    font-size: calc(18px + 14 * (100vw  / 1152));
  }

  .productcontainer__view .productcontainer__next {
    font-size: calc(18px + 14 * (100vw  / 1152));
  }

  .productcontainer__view .productcontainer__edit {
    font-size: calc(14px + 8 * (100vw  / 1152));
  }

  .equipment h3 {
    font-size: calc(32px + 24 * (100vw  / 1152));
  }

  .equipment .equipment__slider .equipment__sliderbutton button {
    font-size: calc(18px + 14 * (100vw  / 1152));
  }

  .equipment .equipment__slider .equipment__blockslider dl dt {
    font-size: calc(18px + 14 * (100vw  / 1152));
  }

  .equipment .equipment__slider .equipment__blockslider dl dd {
    font-size: calc(14px + 8 * (100vw  / 1152));
  }

  .popap:target .popap__body .popap__content .popap__title h2 {
    font-size: calc(32px + 0 * (100vw  / 1152));
  }
}

@media (max-width: 1084px) {
  .content .content__project {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .content .content__project .content__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-right: 0;
    margin-bottom: 64px;
  }

  .content .content__project .content__filter .filter__square {
    margin-right: 64px;
  }

  .content .content__project .content__filter .filter__square .filter__squareinput {
    margin-left: 0;
  }

  .content .content__project .content__filter .filter__floors {
    margin-right: 32px;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content .content__project .content__filter .filter__floors .filter__floorstaitel {
    margin-bottom: 14px;
  }

  .content .content__project .content__filter .filter__floors .filter__floorscheckbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    margin-left: 0;
  }

  .content .content__project .content__filter .filter__floors .filter__floorscheckbox p {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .content .content__project .content__filter .filter__floors .filter__floorscheckbox p label::before {
    margin-right: 10px;
  }

  .content .content__project .content__filter .filter__floors .filter__floorscheckbox p:nth-child(odd) {
    margin-right: 24px;
  }

  .content .content__project .content__filter .filter__button input {
    padding-right: 34px;
    padding-left: 34px;
  }

  .productcontainer .productcontainer__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .productcontainer .productcontainer__card .card__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 32px 0;
  }

  .productcontainer .productcontainer__card .card__slider .slick-list {
    max-height: 500px;
  }

  .productcontainer .productcontainer__card .card__specifications {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .productcontainer .productcontainer__card .card__specifications .card__square,
  .productcontainer .productcontainer__card .card__specifications .card__block1,
  .productcontainer .productcontainer__card .card__specifications .card__block2,
  .productcontainer .productcontainer__card .card__specifications .card__block3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }

  .productcontainer .productcontainer__card .card__specifications .card__rooms,
  .productcontainer .productcontainer__card .card__specifications .card__kitchen,
  .productcontainer .productcontainer__card .card__specifications .card__bathroom,
  .productcontainer .productcontainer__card .card__specifications .Card__sauna,
  .productcontainer .productcontainer__card .card__specifications .card__attic,
  .productcontainer .productcontainer__card .card__specifications .card__balcony {
    margin-bottom: 32px;
  }
}

@media (max-width: 832px) {
  .content .content__card .content__cardsection {
    max-width: 100%;
    margin-right: 0;
  }

  .content .content__card .content__cardsection .slick-list {
    max-height: 400px;
  }

  .content .content__card .content__cardsection .card__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .content .content__card .content__cardsection .card__data .card__params a {
    margin-right: 42px;
  }

  .content .content__card .content__cardsection .card__data .card__praise h4 {
    margin-right: 42px;
  }

  .content .content__project .content__filter .filter__block .filter__floors .filter__floorstaitel {
    font-size: 0;
  }

  .content .content__project .content__filter .filter__block .filter__floors .filter__floorscheckbox {
    display: block;
  }

  .productcontainer .equipment .equipment__slider {
    min-width: 0;
  }

  .productcontainer .equipment .equipment__slider .equipment__sliderbutton {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .productcontainer .equipment .equipment__slider .equipment__sliderbutton button {
    border: 1px solid #f1f1f1;
    padding: 3px 22px;
    border-radius: 5px;
  }

  .productcontainer .equipment .equipment__slider .equipment__sliderbutton .slick-disabled {
    color: #5DAC19;
    border-color: #5eac19c7;
  }

  .productcontainer .equipment .equipment__slider .equipment__sliderbutton .equipment__balk {
    margin-right: 32px;
  }

  .productcontainer .equipment .equipment__slider .equipment__sliderbutton .equipment__log {
    margin-right: 0;
  }

  .productcontainer .equipment .equipment__slider .equipment__blockslider {
    min-width: 0;
  }

  .productcontainer .equipment .equipment__slider .equipment__blockslider .slick-list {
    overflow: hidden;
  }

  .productcontainer .equipment .equipment__slider .equipment__blockslider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .productcontainer .equipment .equipment__slider .equipment__blockslider .slick-track dl {
    padding: 0 2%;
  }

  .productcontainer .equipment .equipment__slider .equipment__blockslider .slick-track dl dt {
    margin-left: 24px;
  }
}

@media (max-width: 768px) {
  .container__titel .titel__text h1 {
    font-size: calc(36px + 102 * ((100vw - 320px) / 1152));
  }

  .container__titel .titel__text p {
    font-size: calc(24px + 30.6 * ((100vw - 320px) / 1152));
  }

  .content .content__title h2 {
    font-size: calc(32px + 27.2 * ((100vw - 320px) / 1152));
  }

  .content .content__title .content__button .content__buttonpopap {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1152));
  }

  .filter .filter__button input {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1152));
  }

  .filter .filter__floorscheckbox p label {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1152));
  }

  .filter .filter__sqaretext {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1152));
  }

  .filter .filter__squaretitle {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1152));
  }

  .card__data .card__params a {
    font-size: calc(28px + 6.8 * ((100vw - 320px) / 1152));
  }

  .card__data .card__params .card__square p {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1152));
  }

  .card__data .card__praise .Card__sum p {
    font-size: calc(18px + 6.8 * ((100vw - 320px) / 1152));
  }

  .productcontainer .productcontainer__title h1 {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1152));
  }

  .productcontainer .productcontainer__card .card__price h2 {
    font-size: calc(24px + 13.6 * ((100vw - 320px) / 1152));
  }

  .productcontainer .productcontainer__card .card__price .card__priceblok .card__sum p {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1152));
  }

  .productcontainer .productcontainer__card .card__price .card__priceblok a {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1152));
  }

  .productcontainer .productcontainer__card .card__specifications .card__square,
  .productcontainer .productcontainer__card .card__specifications .card__block1,
  .productcontainer .productcontainer__card .card__specifications .card__block2,
  .productcontainer .productcontainer__card .card__specifications .card__block3 {
    font-size: calc(10px + 6.8 * ((100vw - 320px) / 1152));
  }

  .productcontainer .productcontainer__card .card__specifications .card__square {
    font-size: calc(18px + 23.8 * ((100vw - 320px) / 1152));
  }

  .productcontainer__view button {
    font-size: calc(18px + 23.8 * ((100vw - 320px) / 1152));
  }

  .productcontainer__view .productcontainer__next {
    font-size: calc(18px + 23.8 * ((100vw - 320px) / 1152));
  }

  .productcontainer__view .productcontainer__edit {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1152));
  }

  .equipment h3 {
    font-size: calc(32px + 40.8 * ((100vw - 320px) / 1152));
  }

  .equipment .equipment__slider .equipment__sliderbutton button {
    font-size: calc(18px + 23.8 * ((100vw - 320px) / 1152));
  }

  .equipment .equipment__slider .equipment__blockslider dl dt {
    font-size: calc(18px + 23.8 * ((100vw - 320px) / 1152));
  }

  .equipment .equipment__slider .equipment__blockslider dl dd {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1152));
  }

  .container .container__contactsheader .contacts__link .contacts__phone a span {
    font-size: 0;
  }

  .container .container__titel {
    margin-bottom: 32px;
  }

  .container .container__titel .titel__slaider {
    display: none;
  }

  .container .content .content__card .content__cardsection .slick-list {
    max-height: 350px;
  }

  .container .content .content__project .content__filter .filter__floors .filter__floorstaitel {
    font-size: 0;
  }

  .container .content .content__project .content__filter .filter__floors .filter__floorscheckbox {
    display: block;
  }

  .container .content .content__project .content__filter .filter__floors .filter__floorscheckbox p:nth-child(1) {
    margin-bottom: 12px;
  }

  .container .content .content__project .filter__button {
    margin-left: 22px;
  }

  .container .productcontainer .productcontainer__view .productcontainer__slider .productcontainer__floorplan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container .productcontainer .productcontainer__view .productcontainer__slider .productcontainer__floorplan .productcontainer__floorplanimg {
    width: 100%;
  }

  .container .productcontainer .productcontainer__view .productcontainer__slider .productcontainer__facade {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container .productcontainer .productcontainer__view .productcontainer__slider .productcontainer__facade .productcontainer__facadeimg {
    width: 100%;
  }

  .popap:target .popap__body .popap__content .popap__title h2 {
    font-size: calc(32px + 0 * ((100vw - 320px) / 1152));
  }
}

@media (max-width: 610px) {
  .container .container__contactsheader .contacts__link .contacts__phone a span {
    font-size: 0;
  }

  .container .container__titel .titel__slaider {
    display: none;
  }

  .container .content .content__project .content__filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .container .content .content__project .content__filter .filter__square {
    margin-right: 32px;
  }

  .container .content .content__project .content__filter .filter__square h3 {
    margin-bottom: 18px;
  }

  .container .content .content__project .content__filter .filter__square .filter__squareinput input {
    width: 110px;
  }

  .container .content .content__project .content__filter .filter__floors {
    margin-right: 32px;
  }

  .container .content .content__project .content__filter .filter__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 0;
  }

  .productcontainer .productcontainer__card .card__specifications .card__block1 svg,
  .productcontainer .productcontainer__card .card__specifications .card__block2 svg,
  .productcontainer .productcontainer__card .card__specifications .card__block3 svg {
    width: 32px;
    height: 32px;
  }

  .productcontainer .productcontainer__card .card__specifications .card__square svg {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 570px) {
  .container .content .content__card .content__cardsection .slick-list {
    max-height: 250px;
  }

  .container .content .content__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .container .content .content__title .content__titletext {
    margin-bottom: 32px;
  }

  .container .content .content__title .content__buttonblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .container .content .content__title .content__buttonblock .content__buttonfilter {
    z-index: 10;
    width: 25px;
    height: 28px;
    background-image: url(../img/icons/filter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    color: red;
    pointer-events: all;
  }

  .container .content .content__title .content__buttonblock .content__buttonfilter:hover {
    background-image: url(../img/icons/filterHover.svg);
    cursor: pointer;
  }

  .container .content .content__project .content__filter {
    display: none;
  }

  .container .content .content__project .content__filter .filter__square {
    margin-right: 24px;
  }

  .container .content .content__project .content__filter .filter__square .filter__squaretitle {
    margin-bottom: 12px;
  }

  .container .content .content__project .content__filter .filter__floors {
    margin-right: 0px;
  }

  .container .content .content__project .content__filter .filter__floors .filter__floorscheckbox {
    margin-right: 12px;
  }

  .container .content .content__project .content__filter .filter__floors .filter__floorscheckbox p {
    margin-right: 0px;
  }

  .container .content .content__project .content__filter .filter__button {
    margin-top: 32px;
  }

  .container .content .content__project .content__filter .filter__button input {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 500px) {
  .container .productcontainer .productcontainer__title .productcontainer__card .card__price .card__priceblok {
    padding-left: 12px;
  }

  .container .container__contactsheader {
    margin-bottom: 32px;
  }

  .container .container__contactsheader .contacts__link .contacts__socialnetwork {
    display: none;
  }

  .container .content .content__card .content__cardsection .slick-list {
    max-height: 200px;
  }

  .container .content .card__data .card__params a {
    font-size: 22px;
  }

  .container .content .card__data .card__params .card__square p {
    font-size: 16px;
  }

  .container .content .card__data .card__praise .Card__sum p {
    font-size: 16px;
  }

  .container .content .content__project .content__filter .filter__button {
    margin-left: auto;
  }
}

@media (max-width: 377px) {
  .container .content .content__card .content__cardsection .slick-list {
    max-height: 180px;
  }
}

@media all and (-ms-high-contrast: none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }

  .titel {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }

  .content {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }

  .footer {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
  }
}